---
layout: hn.njk
title: "Links"
---
<ul class="hn-items">
  {% for post in collections.links %}
  <li class="hn-item">
    <div class="hn-rank">{{ loop.index }}.</div>
    <div class="hn-content">
      <a class="hn-link" href="{{ post.data.link }}" target="_blank" rel="noopener">{{ post.data.title }}</a>
      <span class="hn-domain">({{ post.data.link | domain }})</span>
      <div class="hn-sub">
        <span>{{ post.date | readableDate }}</span>
        <span class="hn-separator">|</span>
        <a href="{{ post.url | url }}" class="hn-comments">discuss</a>
        {% if post.data.tags %}
        <span class="hn-separator">|</span>
        <span class="hn-tags">
          {% for tag in post.data.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </span>
        {% endif %}
      </div>
      {% if post.data.summary %}
      <div class="hn-summary">{{ post.data.summary }}</div>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
