---
permalink: "/feeds/about.xml"
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }} - About</title>
    <link>{{ site.url }}/about/</link>
    <description>About updates</description>
    {% for post in collections.about %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <pubDate>{{ post.date.toUTCString() }}</pubDate>
      <guid>{{ site.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>
